---
import db from "../../../kloun/data/client";
import CardNews from "../components/CardNews.astro";
import CatButton from "../components/CatButton.astro";
import ProgramReact from "../components/ProgramReact.jsx";
import RudSense from "../components/RudSense.astro";
import { jokecats } from "../components/utils/data/jokecats";
import { slugify } from "../components/utils/formatter";
import Layout from "../layouts/Layout.astro";
 
const newsx =   db.view("newsbg/news", {
	limit: 30,
	update: "lazy",
	descending: true,
});

// const memesx = fetch(
// 	"https://pr0gramm.com/api/items/get?flags=1&promoted=1"
// ).then((res) => res.json());

const resp = await Promise.all([ newsx]).then((results) => ({
	news: results[0].rows,
	memes: [],
}));

const {  news, memes } = resp;

---

<Layout
	title="Вицове и забавни котки и мемета"
	description="Вицове и забавни котки и мемета"
>
	<h1 class="text-5xl">Актуално</h1>
	<div class="flex flex-wrap gap-3">
		{
			news.map(
				({
					id,
					title,
					date,
					key,
					image,
				}: {
					id: string;
					title: string;
					date: string;
					key: string;
					image: string;
				}) => (
					<CardNews
						title={title}
						img={image}
						date={date}
						key={key}
						id={id}
					/>
				)
			)
		}
	</div>
	<div class="flex flex-wrap justify-end my-2">
		<a class="btn dark:btn-ghost border-2" href="/news">Още новини</a>
	</div>
	<RudSense />
	<h1 class="text-5xl">Вицове</h1>
	<div class="my-3 flex w-full flex-wrap gap-3">
		{
			jokecats
				.slice(0, 9)
				.map(
					({
						cat,
						slug,
						count,
					}: {
						cat: string;
						slug: string;
						count: number;
					}) => (
						<CatButton
							title={cat}
							url={"/cat/" + slug}
							count={count}
						/>
					)
				)
		}
	</div>
	<div class="flex flex-wrap justify-end my-2">
		<a class="btn dark:btn-ghost border-2" href="/vicove">Всички</a>
	</div>
	<RudSense />
	<h1 class="text-5xl">Забавно в картинки</h1>
	<div class="snap-x flex overflow-auto py-2 snap-proximity programmindex">
		{
			memes.slice(0, 10).map(({ thumb }: { thumb: string }) => (
				<label class="hover:animate-pulse snap-center" for="my-modal">
					<div class="rounded-lg bg-gradient-to-r from-purple-900 to-pink-600 p-1 dark:from-white dark:to-slate-400 m-1 cursor-pointer flex">
						<img
							width="128"
							height="128"
							class="rounded-lg i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined i-amphtml-built i-amphtml-layout"
							alt="pr0gramm"
							src={`https://thumb.pr0gramm.com/${thumb}`}
							i-amphtml-layout="fixed"
							style="width: 128px; height: 128px; --loader-delay-offset:1ms !important;"
						/>
					</div>
				</label>
			))
		}
	</div> <ProgramReact limit={10} className="snap-x flex overflow-auto py-2 snap-proximity programmindex" /> 
	<div class="flex flex-wrap justify-end my-2">
		<a class="btn dark:btn-ghost border-2" href="/news">Всички</a>
	</div>
</Layout>
