---
import db from "../../../kloun/data/client";
import Card from "../components/Card.astro";
import CardNews from "../components/CardNews.astro";
import { slugify } from "../components/utils/formatter";
import Layout from "../layouts/Layout.astro";
const catsy = await db.view("joke/cat", {
	reduce: true,
	update: "lazy",
	group: true,
});
const newsx = await db.view("newsbg/news", {
	limit: 30,
	update: "lazy",
	descending: true,
});

const memes = fetch("http://localhost:3000/api/proxy/promoted").then((res) =>
	res.json()
);

const resp = await Promise.all([catsy, newsx, memes]).then((results) => ({
	catsx: results[0],
	news: results[1].rows,
	memes: results[2],
}));

const { catsx, news } = resp;

const cats = catsx.rows
	.filter((x: { value: number }) => x.value > 1)
	.map((x: { key: string; value: number }) => ({
		cat: x.key.replace("JOK", ""),
		slug: slugify(x.key.replace("JOK", "")),
		count: x.value,
	}))
	.sort((a: { count: number }, b: { count: number }) => b.count - a.count);
---

<Layout
	title="Вицове и забавни котки и мемета"
	description="Вицове и забавни котки и мемета"
>
	<h1 class="text-5xl text-gradient">Актуално</h1>
	<div class="flex flex-wrap">
		{
			news.map(
				({
					id,
					title,
					date,
					key,
					image,
				}: {
					id: string;
					title: string;
					date: string;
					key: string;
					image: string;
				}) => (
					<CardNews
						title={title}
						img={image}
						date={date}
						key={key}
						id={id}
					/>
				)
			)
		}
	</div>
	<div class="flex flex-wrap justify-end my-2">
		<a class="btn dark:btn-ghost border-2" href="/news">Още новини</a>
	</div>
	<h1 class="text-5xl text-gradient">Вицове</h1>

	<div class="flex flex-wrap justify-end my-2">
		<a class="btn dark:btn-ghost border-2" href="/news">Всички</a>
	</div>

	<h1 class="text-5xl text-gradient">Забавно в картинки</h1>
	<div class="flex flex-wrap justify-end my-2">
		<a class="btn dark:btn-ghost border-2" href="/news">Всички</a>
	</div>
	<ul role="list" class="link-card-grid">
		<Card
			href={"/cat/"}
			title={"dsadas"}
			body="Supercharge your project with new frameworks and libraries."
		/>
	</ul>
</Layout>
