---
export const prerender = false
import CatButton from "../../components/CatButton.astro";
import LoadingResult from "../../components/LoadingResult.astro";
import ResultWrapper from "../../components/ResultWrapper.astro";
import RudSense from "../../components/RudSense.astro";
 
const { facebook } = Astro.params as { facebook?: string };
 
 const apps = [
	{
	  cat: "Новогодишна Баница 2023",
	  slug: "banica2023",
	  count: 2023,
	  covertheme: "/images/2023.jpg",
	  items: 40,
	  schema: {
		title: "Персонализирай",
		type: "object",
		properties: {
		  firstname: {type: "string", title: "Напиши името си", default: ""},
		},
	  },
	  description:
		"Баницата с удачни амулети е традиция в България, която се спазва на Рождество. Тя се прави от тесто, което се разправя в тава и се пълни с различни вкусности, като сирене, яйца, чесън и лук. В тавата се скриват удачни амулети, като златно монети, златни колела или някакви други символи на спечелване. Те се разпределят случайно по тавата, а хората се надяват да хвърлят кости и да спечелят амулета, който ще им принесе удача през новата година.",
	},
	{
	  cat: "На колко години изглеждаш",
	  slug: "godini",
	  button: "Провери на колко изглеждаш",
	  isLoginRequired: true,
	},
	{
	  cat: "Провери значението на името си",
	  slug: "assbg_BG",
	},
	{
	  cat: "Добър или лош си днес",
	  slug: "goodbad",
	  isLoginRequired: false,
	  items: 138,
	  schema: {
		title: "Персонализирай",
		type: "object",
		properties: {
		  firstname: {type: "string", title: "Напиши името си", default: ""},
		},
	  },
	  hidden: false,
	},
	{
	  cat: "На коя известна личност приличаш",
	  slug: "celeb",
	  hidden: true,
	},
	{
	  cat: "Изтегли си късметче",
	  slug: "iztegli",
	  hidden: true,
	},
	{
	  cat: "Индиянското ти име",
	  slug: "indianskoime",
	  hidden: true,
	},
	{
	  cat: "Виж коя известна личност ти подхожда",
	  slug: "podhojda",
	  hidden: true,
	},
	{cat: "Какво е японското ти име", slug: "iaponskoime", hidden: true},
	{
	  cat: "Провери какъв си бил в предишен живот",
	  slug: "predishenjivot",
	  hidden: true,
	},
  ];
const curresult = null;
const app = {slug:'',cat:''};
---

 
<div class="flex justify-center items-center">
	{curresult && (
	  <ResultWrapper>
		<div class="relative flex bg">
		  <img
			alt=""
			class="w-full h-full"
			src="https://kloun.pages.dev/images/placeholderfb.png"
		  />

		  <div class="flex absolute top-0 w-full">
			<div class="w-full">
			  <img
				src={`/fbapps/${app?.slug}/back.png`}
				alt=""
				class="w-full"
			  />
			</div>
		  </div>
		  <div class="w-full absolute top-0">
			<img
			  src={`/api/facebook/${app?.slug}/svg/${curresult}/res/${curresult}/`}
			  alt=""
			  class="w-full"
			/>
		  </div>
		</div>
	  </ResultWrapper>
	)}
	{!curresult && app && <LoadingResult name={app?.cat} />}
  </div>
  <div class="pt-1">
	<!-- <FBLogin app={app} env={env} code={code} /> -->
  </div>

  <div class="container mx-auto">
	{app && (
	  <div>
		<div class="flex justify-center items-center my-3">
		  <!-- <FacebookShare
			onbeforeSubmit={onBeforeLoad}
			disabled={curresult ? false : true}
			text={app?.button}
			id={""}
		  /> -->
		</div>
		<p>descr</p>
	  </div>
	)}

	<RudSense main={true} />

 </div>
	
	 
 
 