---
import db from "../../../../kloun/data/client";
import FacebookShare from "../../components/FacebookShare.astro";
import FormatJoke from "../../components/FormatJoke.astro";
import Layout from "../../layouts/Layout.astro";

const { jokeid } = Astro.params as { jokeid: string };

const joke = await db.get(jokeid);
console.log(joke);

if (joke.error) {
    return new Response("Not Found", {
        status: 404,
        statusText: "Not Found",
    });
}
---
<Layout title={joke.title} description={joke.title} image={`https://kloun.lol/api/joke/og/?idx=${jokeid}`}>
    <div class="my-10 flex w-full flex-col text-center">
        <article class="mx-auto mb-6 px-10 text-xl leading-relaxed xs:px-2 sm:px-4 lg:w-2/3">
            <FormatJoke joke={joke.title} />
        </article>
        <div class="flex justify-end items-center">
            <FacebookShare url={`https://kloun.lol/joke/${jokeid}`} />
        </div>
    </div>
</Layout>